.sidebarOption{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebarOptionText{
    padding: 0 0 0 1rem;
}

.fal{
    font-weight: 500;
    font-size: 1.1rem;
}